
	<h1>Welcome to <%= @crm_name %></h1>
		<p>Main menu</p>
		<img src "http://www.interoadvisory.com/wp-content/uploads/2013/06/CRM250_1_250.jpg" height="15%" width="10%" >
		<nav>
			<ul>
				<li><a href="/contacts/new">Add a contact</a></li>
				<li><a href="/contacts">View all contacts</a></li>	
			</ul>
			
			<button type="submit" class="btn">
			<h3> Delete </h3>
			</button>
		</nav>