<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>This is Liz's CRM</title>
		<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>

	<body>
		<div id="wrap">

			
			<!-- The MEAT -->
			<%= yield %>
		</div>
	<footer>Liz Hodgson &copy; 2015</footer>
	</body>

</html>